body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
#mySvg {
    display: flex;
    border: 1px solid #ccc;
}
button {
    margin-top: 20px;
}

#tooltip
{
    position: absolute; 
    visibility: hidden; 
    padding: 10px; 
    background-color: white; 
    border: 1px solid black
}


