#array-list-app {
    text-align: center;
    margin-top: 20px;
}

#array-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center flex items horizontally */
    margin-top: 20px;
    font-family: monospace;
}

.array-element {
    border: 1px solid #333; /* Border to make it look like a container */
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
}

.array-element-empty {
    visibility: hidden;
}
