#array-list-app {
    display: flex;
    align-items: start;
}


#array-list-container {
    flex-grow: 1; /* Take up the remaining space */
    padding: 20px;
}
#array-list-title {
    width: 100%; /* Ensure full width */
    text-align: center; /* Center the text */
}

#sidebar {
    flex: 0 0 200px; /* Adjust width as needed */
    padding: 20px;
    flex-grow: 0.1;
    background-color: #2c3e50; /* Dark background for contrast */
    color: #ecf0f1; /* Light text color for readability */
    border-radius: 10px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

#sidebar input, #sidebar button {
    display: block; /* Block-level for full width */
    width: calc(100% - 20px); /* Full width minus padding */
    margin: 10px auto; /* Center align with margin */
    padding: 8px; /* Comfortable padding */
    border-radius: 4px; /* Slight rounding of corners */
}

#sidebar input {
    border: 1px solid #7f8c8d; /* Subtle border for inputs */
    background-color: #34495e; /* Slightly lighter background for contrast */
    color: #ecf0f1; /* Light color for text */
}

#sidebar button {
    border: none; /* Remove default border */
    background-color: #16a085; /* Pleasant green shade */
    color: #ecf0f1; /* White text for contrast */
    cursor: pointer; /* Pointer to indicate clickability */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#sidebar button:hover {
    background-color: #1abc9c; /* Lighter shade on hover */
}


#array-display {
    flex-grow: 1;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-self: stretch; /* Center flex items horizontally */
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;}

.array-element {
    color: black;
    border: 1px solid #333; /* Border to make it look like a container */
    background-color: #f0f0f0;
    text-align: center;

    /* Adjustments for square shape and size */
    width: 30px; /* Smaller width for the box */
    height: 30px; /* Height equal to width to make it square */
    line-height: 30px; /* Align text vertically */

    /* Remove margin and use padding for spacing */
    margin: 0;
    padding: 2px; /* Adjust padding as needed */

    /* Flexbox settings for centering content */
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer
}

#array-display:hover .array-element {
    filter: blur(0.1px); 
}

/* Remove blur from the element that is actually being hovered */
#array-display .array-element:hover {
    filter: none;
}

.array-element:hover {
    border: 2px solid; 
}

.array-element-empty {
    visibility: hidden;

}

#toggle-sound-btn {
    position: fixed;       /* Fixed position */
    top: 20px;             /* 20px from the top */
    right: 20px;           /* 20px from the right */
    padding: 10px 20px;    /* Padding: 10px top/bottom, 20px left/right */
    background-color: #333;/* Dark background color */
    color: #fff;           /* Light text color */
    border: none;          /* No border */
    border-radius: 5px;    /* Slightly rounded corners */
    font-size: 2em;        /* Font size */
    cursor: pointer;       /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#toggle-sound-btn:hover {
    background-color: #444;/* Slightly lighter background on hover */
}

body {
    color: white;
    background-color: #191919;
    background-image: url("layered-peaks-haikei.svg");
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-position: center center; /* Center the image */
    background-attachment: fixed; /* Fixed position relative to the viewport */
    min-height: 100%; /* Ensure minimum height */
}

.highlight {
    background-color: black;
}


.popup {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: rgba(165, 42, 42, 0.8);
    color: white;
    border: 1px solid #750E21;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 150; /* Maximum width */
    word-wrap: break-word; /* Ensure text wraps */
}

.popup button {
    padding: 2px 5px;
    margin: 5px;
    border: none;
    border-radius: 1px;
    background-color: #AE445A;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.popup button:hover {
    background-color: #0056b3;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.popup-input {
    width: 3    0%; /* Make the input field take up the full width of the popup */
    padding: 8px;
    margin-bottom: 10px; /* Add some space below the input field */
    border: 1px solid #ccc;
    border-radius: 4px;
}








/* Mobile view adjustments */
@media (max-width: 768px) {
    #array-list-app {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center items horizontally */
    }

    #sidebar {
        flex-basis: 100%; /* Full width on small screens */
        order: 2; /* Move to the bottom */
        border-radius: 0; /* Remove border-radius for a full-width look */
    }

    #array-list-container {
        order: 1;
        width: 100%; /* Full width */
        /* Add padding-bottom if needed */
    }
}

